{% extends 'base.html.twig' %}


{% block header %}
{% include "BarCandidat/header.html.twig"  with {'id': id }%}
{% endblock %}


{% block body %}
<!--=================================
coming-soon -->
<section class="space-ptb bg-holder coming-soon h-100vh" style="background-image: url(/images/bg/coming-soon.jpg);">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 col-md-9 align-self-center">
        <h1>Vos réponses sont enregistrés.Votre resultat sera servi trés bientot </h1>
        
        
        
        
      </div>
    </div>
  </div>
</section>
<!--=================================
coming-soon -->
{% endblock %}